cache/
leon/
assets/
nbproject/
cache_rss/
sitemap*
*.sql
.project
.monitoring

/config.*
logs/
*.bak
*.bak.php

# don't need the sitemap generator logs
generator/data/

# sitemap gets generated
xmlsitemap.*
xmlsitemap-test*
