cache/
leon/
assets/
cache_rss/
sitemap*
*.sql

# don't track config files, except for config template
/config.*
!/config.template.php

logs/
*.bak
*.bak.php

# don't need the sitemap generator logs
generator/data/

# sitemap gets generated
xmlsitemap.*

# phpinfo()
info.php

# ignore these until we can figure out if they're necessary or not
# probably mostly not
backend/nohup.out
backend/scrape.tar.gz
generator/
phpsitemap/
send_mail.php
uploads/
website.php
