.autocompleter-menu {
	position: absolute;
	display: block;
	z-index: 50;
	list-style: none;
	background-color: white;
	margin-top: 0px;
	border: 0px;
}
.autocompleter-item {
	display: block;
	float: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}