body {font-family: Arial, Helvetica, sans-serif;margin:0px; text-align: center; color:#515151; font-size: 12px; background:#FFFFFF;}
.outer {width: 1200px;       margin-left: auto;    margin-right: auto; margin-top:0px; text-align:left; }
td {font-family:  Arial, Helvetica, sans-serif; font-size:12px; color:#585858; }
a  {color:#215882; text-decoration:underline; }
a:hover {color:#dc7600; text-decoration:underline; }
a img {border:none;}
img {margin:0px;}
input, select, textarea {font-family:Arial, Helvetica, sans-serif; color:#5b5b5b; font-size:12px;}
input.input {	border: 1px solid #d4d4d4;	padding: 3px;	display: block;}
form {margin:0px; padding:0px;}
.fl {float:left;}
.fr {float:right;}
.clearer { clear: both; font-size: 1px; line-height: 1px; height: 1px; margin-bottom: -1px;}


#nav_header {height:81px;}
#nav_header .logo {float:left;}
#nav_header .links {float:right; width:280px; padding-top:5px;}


#nav_cart {width:242px; height:26px;float:right; padding-top:9px; padding-right:8px;}
#nav_cart a {text-decoration:none;}
#nav_cart .span {float:right; padding-top:5px; padding-right: 5px;}
#nav_cart img {float:right; margin-top:2px;}

#top_nav {background:#383838; height:32px;}
#top_nav .sbot {position:absolute; margin-left:771px; margin-top:32px; width:200px;}
#top_nav ul {margin:0; padding:0; list-style-type:none;}
#top_nav li .nav_outer {display:inline; font-weight:bold}
#top_nav li { float:left; padding:0px; }
#top_nav li .nav_outer a { display:block;color:#fff; padding:9px 34px 9px 20px; background:url(../images/nav/nav_arr.gif) no-repeat 84% 50% #383838; border-right:1px solid #737474;text-decoration:none;}
#top_nav li .nav_outer a:hover, #top_nav li .nav_outer a.on, #top_nav li .nav_outer a.forceon {background:url(../images/nav/nav_arr_on.gif) no-repeat 84% 50%  #034577; text-decoration:none;border-right:1px solid #737474	; color:#fff;}
#top_nav li .nav_outer .home a, #top_nav li .nav_outer .home a:hover, #top_nav li .nav_outer .home a.on, #top_nav li .nav_outer .home a.forceon { background-image: none; padding-right: 20px; }
#top_nav li .nav_outer .account a:hover, #top_nav li .nav_outer .account a.on, #top_nav li .nav_outer .account a.forceon { color: #333; background-image: url(../images/nav/nav_arr_on_black.gif); background-color: #f0f0f0; }


#nav_links { text-align:right; padding-top:6px; height:35px}
#nav_links ul {margin:0; padding:0; list-style-type:none;}
#nav_links li {margin-right:9px; display:inline;color:#fff; font-weight:bold; text-transform:uppercase;}
#nav_links li a, #nav_links li span {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; color:#fff; text-decoration:none}
#nav_links li a:hover {text-decoration:underline;}

#top_nav .nav_inner { position: absolute; margin-top: 32px; z-index: 4; margin-left: 0px; }
#top_nav .nav_inner .dd_products li { float:none; text-align: left;}
#top_nav .nav_inner .dd_products { padding:6px 0px 9px 0px; width:100%; margin-left: -0px; }
#top_nav .nav_inner .dd_products .list1 {float:left; width:165px; }
#top_nav .nav_inner .dd_products .list2 {float:left; width:165px; }
#top_nav .nav_inner .dd_products ul ul {padding-left:0px; margin-bottom:5px;}
#top_nav .nav_inner .dd_products ul ul li a {display:block; padding:4px 17px 4px 17px; font-size:11px; height:12px; font-weight:normal}
#top_nav .nav_inner .dd_products ul ul li a:hover {background:#fff; color:#215882; text-decoration:none;}
#top_nav .nav_inner .dd_products ul {margin:0; padding:0; list-style-type:none;}
#top_nav .nav_inner .dd_products li a {display:block; padding:4px 17px 4px 17px; height:14px; text-decoration: none; color:#e6f5ff; font-weight:bold}
#top_nav .nav_inner .dd_products li a:hover { text-decoration: none; background:#fff; color:#215882;}

#top_nav .nav_inner .dd_products { background: #034577; border: #383838 1px solid; border-top:0; }
#top_nav .nav_inner .dd_products .list1 { border-right: 1px solid #1a5989; }

#top_nav .dd_account {width:290px; position:absolute; margin-left:-50px; margin-top:32px; border:1px solid #ddd; padding:10px 3px 10px 12px; background:url(../images/nav/bg_log.gif) repeat-x #f8f8f8; z-index:1000; border-top:0}
#top_nav .dd_account h3 {font-size:14px; font-weight:bold; margin:0 0 8px 0; color:#0e78c9;}
#top_nav .dd_account span, .block_left span {float:left; width:100px; padding-top:4px;}
#top_nav .dd_account .log {float:left; padding-left:99px}
#top_nav .dd_account .pword {float:left; padding:8px 0 0 10px}
#top_nav .dd_account a {color:#0e78c9;}
#top_nav .dd_account p {margin:-2px 0 2px 0;}


#top_nav .sbox {border:0; padding:4px 4px 4px 5px; width:130px; font-size:11px; color:#939393; margin-top:9px; margin-right:6px; margin-left:10px;}
#top_nav #form_search .fl  {padding-left:10px;}
#top_nav .find {float:left; padding-top:8px;}

#nav_links li#lang_link {
	background: url(../images/nav/arr.gif) no-repeat right;
	padding-right: 11px;
	position: relative;
	z-index: 1000;
	margin: 0;
	cursor: pointer;
}
#nav_links li#lang_link span {
	padding-bottom: 1px;
	border-bottom: 1px dotted #add7f6;
}
#nav_links li#lang_link:hover span {
	text-decoration: none;
}
=#nav_links li#lang_link:hover #nav_language,
#nav_links li#lang_link.hover #nav_language {
	display: block;
}


